{% include "base.html" %}

<div class="container about-section">
  <h3>About College</h3>
  <p align="justify">AVS Engineering College is a prominent educational institution...</p>
  
  <p align="justify">Well-experienced Faculty Team, State-of-the-Art Laboratories...</p>

  <h3>Institute Vision</h3>
  <p align="justify">To be a premier institution committed to fostering excellence...</p>

  <h3>Mission</h3>
  <ul class="list-group">
    <li class="list-group-item">To provide outcome and value based technical education</li>
    <li class="list-group-item">To enable students to get industry ready and fulfil their career aspirations</li>
    <li class="list-group-item">To facilitate innovations and nurture ethical leadership...</li>
    <li class="list-group-item">To empower students to become responsible citizens...</li>
  </ul>

  <h3>Quality Policy</h3>
  <p align="justify">AVS Engineering College aims at continuous pursuit of excellence through</p>
  <ul class="list-group">
    <li class="list-group-item">Quality education tapped from national and international resources</li>
    <li class="list-group-item">Programmed evaluation of knowledge accumulated</li>
    <li class="list-group-item">Producing Graduates with strong Ethical and moral background</li>
    <li class="list-group-item">Continuous review and renewal of Quality System...</li>
  </ul>
</div>